p {
	font-family: 'Noto Sans KR', sans-serif;
}
body {
	background-color: #EEFFFF;
	margin:0;
}
h1 {
	text-align-last: center;
	font-family: 'Lobster', cursive;
	font-size: 5vw;
	padding: 30px;
	margin:0;
}
#navbar {
	overflow: hidden;
	background-color: #000000;
	margin-left:auto;
	margin-right:auto;
}
#navbar a {
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Noto Sans KR', sans-serif;
}

#cart {
	float: right;
	background-color: #FFFF25;
	color: black;
}
.left {
	float: left;
	color: #f2f2f2;
}
.left:hover {
	background-color:#F1F1F1;
	color: black;
}
.itemtitle{
	font-size: 25px;
	color: #FF1617;
}
.itemdescription {
	size: 10px;
}
.itemicon {
	width: 30%;
	height: auto;
}
.itemprice{
	size: 10px;
}
.itemdiv{
	display: inline-grid;
	justify-items: center;
    grid-auto-columns: auto;
	margin:0;
	width: 30%;
	grid-auto-rows: auto;
	grid-gap: 1em;
	

}
#items {
	text-align: center;
	padding: 20px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
button {
	font-size: 20px;
	font-family: 'Noto Sans KR', sans-serif;
	padding: 10px;
	background-color: #FFFF25;
	text-decoration: none;
	border: none;
}
button:hover {
	background-color: #000000;
	color: white;
}